/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/
:root{
  --bgColor1: #f4e8db;;
  --bgColor2: #ada36e69;
  --font-Bnt: #d09e44;
  --whychoosfont:#5b7642;
}


/*for ipad responsive */
@media  (min-width:550px) and (max-width:950px) {
.header{
   position: sticky;
   max-width: 100%;
  top:0;
  z-index: 9;
}
  
  
  .logo img{
    width: 5rem;
  }
.navbar-list{
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem ;
  list-style: none;
  color: rgb(75, 73, 73);
}
.navbar-list li a{
  font-size: 1.1rem;
  text-decoration: none;
}


  
  .bgcolor1-wrapr ul{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2vmax;
    max-width: 100%;
  }
  .bgcolor1-wrapr ul li{
   font-size: 1rem;
    /* font-size: 1.1rem;
    text-decoration: none; */
  }
   /* green list */
.bgcolor1-wrapper .list{
   flex: 1 1 100%;
  min-width: 0;             
  align-self: stretch;  
}
.bgcolor1-wrapr .list marquee {
  display: block;
  width: 100%;
  background-color:cc
}
  .headerIcons img{
    width: 2.4rem;
  }
   .slideHeading h1{
    
     font-size: 2.5rem;
    
   }
  .informationList{
    gap: 2rem;
  }
   .informationList li{
    font-size: 1.1rem;
    margin: 0 -.3rem;
  }
.informationList img{
  width: 1rem;
}

 .just-Arrived-grid img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius:.5rem;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

 .bannerGrid img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.bannerGrid img:hover{
  -webkit-transform:scale(1.05);
      -ms-transform:scale(1.05);
          transform:scale(1.05);
}
.craft-text  h2{
  font-size: 1rem;
  max-width: 10rem;
  line-height: normal;
 padding: 0 .5rem;
}
.craft-text p{
  font-size: .8rem;
  line-height: normal;
  letter-spacing: normal;
}
  /* .rooteHiretage section */
.heritageContent{
  padding-top: 7rem;
  /* max-width: 90%; */
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.heritageContent .imgContent {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .8rem;
  width: 40%;
}
.heritageContent .imgContent .img-column1 {
  width: 99%;
}
.heritageContent .imgContent .img-column1 img{
  width: 100%;
}
.heritageContent .imgContent .img-column2{
  width: 96%;
}
.heritageContent .imgContent .img-column2 img{
  width: 100%;
}
.rooteHiretage-wrapper .heritageContent .textContainer{
width: 45%;
margin-bottom: 5rem;

}

.rooteHiretage-wrapper .heritageContent .textContainer h1{
  color: #c59b4a;
  /* padding-bottom: 1rem; */
font-size: 1.3rem;
}
.rooteHiretage-wrapper .heritageContent .textContainer p{
  font-size: 1.1rem;
  line-height: 1.4rem;
  /* margin-top: 1rem; */
}
.rooteHiretage-wrapper .expBtn {
  text-align: center;
  position: absolute;
  right: 0;
  left: 8rem;
  bottom: 5rem;
}
.rooteHiretage-wrapper .expBtn button{

  padding: .9rem 2.2rem;
  font-size: 1rem;
  font-weight: 500;
  background-color: white;
  border: none;
  border-radius: .6rem;
  box-shadow: 0px 0px 4px rgba(0,0,0,.7);

}
 /* about us section */
.about-us-content .text{
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: .5rem;
  justify-content: center;
}
.about-us-content .text h1{
    font-weight: 400;
  color: var(--font-Bnt);
  font-size: 1.5rem;
}
.about-us-content .text p{
  font-size: 1rem;
  line-height: 1.6rem;
}
.about-us-content .img{
flex-basis:45%;
}
.about-us-content .text button{
  padding: .7rem 2.6rem;
  font-size: 1rem;
  border-radius: .7rem;
  border: none;
  box-shadow: 0px 0px 10px -5.9px;
  font-weight: 500;
  margin-top: .5rem;
}
/* founder section */
.founder-content .text h1{
  font-size: 1.6rem;
}
.founder-content .text p:first-of-type{
 font-size: 1rem;
 line-height: 1.3rem;
}   

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
}

/*for mobile   responsive  */

@media  (min-width:350px) and (max-width:650px) {
    .logo img{
      width: 5rem;
    }
    /* hamberger menu  */
    .header{
      position: relative;
    } 
   .headerHeading{
    display: none;
    background-color: var(--bgColor1);
    width: 100%;
    height:40vh;
    position: absolute;
    /* left:0; */
    top: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: all 0.7s linear; 
    position: fixed;
  } 
   .active .headerHeading{
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
    pointer-events: auto;
    /* transition: all .4 linear ;   */

   }
   .navbar-list{
    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:start;
   }
   .navbar-list li:hover{
    color: rgb(187, 36, 182);
   }
   .mobil-navbar-btn{
     display: block;
    }
  .active .mobil-navbar-btn .mob-nav-icon[name="close-outline"]{
    display: block;
  }
  .active .mobil-navbar-btn .mob-nav-icon[name="menu-outline"]{
    display: none;
    position: absolute;
  }



   .slideHeading{
    padding: 0 1rem;
   }
   .slideHeading p{
    padding-top: 4rem ;
    font-size: 1.2rem;
   }
   .slideHeading h1{
    
     font-size: 1.6rem;
    
   }
   .slideHeading button{
    font-size: 1rem;
    padding: .7rem 1.5rem;
   }
   
  .informationList li{
    font-size: .9rem;
   }
   
.just-Arrived-grid{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  gap: 1rem;
}

 .just-Arrived-grid img{
  width: 100%;
  height: auto;
  vertical-align: middle;
  display: inline-block;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: .5rem;
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}
.just-Arrived-grid img:hover{
  -webkit-transform:scale(1.05);
      -ms-transform:scale(1.05);
          transform:scale(1.05);
}

.craft-text img{
  max-width: 2rem;

}
.craft-text  h2{
  font-size: 1rem;
  max-width: 10rem;
  line-height: normal;
  padding: 0 1rem;
}
.craft-text p{
  font-size: .8rem;
  line-height: normal;
  letter-spacing: normal;
}
/* shop .shopCategory section */
.shopCategory{
  max-width: 90;
  margin: 0 auto;
}
.productContainer{
 width:90%;
}
.imgContainer{
  /* height: 100%; */
    height: 23rem;
  position: relative;
  overflow-y: hidden;
transition: all .4s ease-in-out;
}

.imgContainer::before{
content: " ";
    position: absolute;
    background-color:rgba(255, 255, 255, 0.2);
    width: 62%;
    height: 11%;
    bottom: 0;
    justify-content: center;
    align-items: center;
    left: 19%;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    transition: all .5s linear;
    backdrop-filter: blur(10px);
    }
 




.imgContainer::after{
  content: attr(data-text);
    
    width: 62%;
    height: 11%;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: 0 auto;
    left: 0;
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-weight: 600;
       color: white;

    transition: all .5s linear;
}

.imgContainer:hover{
    transform: scale(1.03);
  
}

.Item{
  width: 18rem;
}
.productContainer .Item img{
width:22rem;
height: 100%;
-o-object-fit: cover;
   object-fit: cover;
display: inline-block;
  
}
.just-Arrived-grid{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

}
.craftManship-container{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
gap:1.5rem

}

.productContainer{
max-width: 90%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin: 0 auto;
gap: 1rem;
}

  .heritageContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  /* .rooteHiretage section */
  .rooteHiretage-wrapper .heritageContent .imgContent{
  width: 90%;
}
.rooteHiretage-wrapper .heritageContent .textContainer{
  width: 90%;
}
.rooteHiretage-wrapper .expBtn {
  text-align: center;
  position: absolute;
  right: 6.5rem;
  /* left: 8rem; */
  bottom: 5rem;
}

/* founder section */
.founder-content{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.founder-content .text{
  width: 100%;
}
.founder-content .img{
  padding: 2rem 0;
} 


/* About section  */
.about-us-content{
  display: flex;
  justify-content:center;
  flex-direction: column;
  align-items: center;
  max-width: 90%;
  margin: 0 auto;
  gap: 5%;
  padding: 4rem 0;
  flex-direction: column-reverse;

}
.about-us-content .text{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: 2rem;
  justify-content: center;
}
.about-us-content .img{
flex-basis:41%;
padding: 4rem 0;
}
.about-us-content button{
  padding: .8rem 2.6rem;;
  font-size: 1rem;
  border-radius: .7rem;
  border: none;
  box-shadow: 0px 0px 10px -5.9px;
  font-weight: 500;
 margin: 0 auto;
}

/* medea section */
.meadia-wrapper{
    position: relative;
    overflow: hidden;
    aspect-ratio: 16/9;
}

.meadia-wrapper video{
  width: 100%;
  height:80vh;
  object-fit: cover;
  position: absolute;
  inset: 0;
  display: block;
   
}

/* handblock printing section */
.card-header{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;

}

/* footer section */

.footer-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.footer-wrapper{
  background-image: url("img/Group\ 156.png");
  background-size: cover;
  display: block;
  background-repeat: no-repeat;
  width: 100%;
  height: fit-content;

}
.footer-grid{
      display: flex;
      justify-content: center;
      align-items: self-start;
      gap: 3rem;
      padding: 7rem 0;
    }

    
}